.Article {
  width: 90%;
  background: var(--secondary-bg);
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, .7);
  flex-direction: column;
}

.Article:hover .Article-description {
  transition: all 1s ease;
}

.Article:first-child {
  margin-top: 20px;
}

.Article img{
  width: 100%;
  height: 300px;
  display: none;
}

.Article-name {
  font-family: 'Lekton', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.Article-description {
  font-size: 1.3em;
}

.Article-links {
  position: relative;
}

.Article-links a svg {
  color: var(--icons-color);
  margin: 10px;
  height: 36px;
  width: 36px;
}

.Article-links a svg:hover {
  transform: scale(1.3);
  transition: .2s;
}

.Article-icons {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary-bg);
  box-shadow: 0 0 35px #6ba1b9;
}

@media (min-width: 800px) {
  .Article img{
    display: inline-block;
  }
  .Article-icons {
    box-shadow: 0 0 35px #000;
  }
}